:root{
    --primary-body-color:#757575;
    --second-body-color: #FFFFFF;
    --accent-color: #2196F3;
    --second-text-color: #212121;
    --logo-color: #000000;
    --background-hero-color:#2F303A;
    --background-second-color: #F5F4FA;
    --accent-active-color:#188CE8;
    --header-line-color: #ECECEC;
    --box-border-color: #EEEEEE;
    --box-shadow-active-color: rgba(0, 0, 0, 0.25);
    --info-link-color:rgba(255, 255, 255, 0.6);
    --hero-btn-shadow-color: rgba(0, 0, 0, 0.15);
    --team-shadow-color1: rgba(0, 0, 0, 0.12);
    --team-shadow-color2: rgba(0, 0, 0, 0.14);
    --team-shadow-color3: rgba(0, 0, 0, 0.2);
    
 }

 p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
} 
ul {
    margin: 0px;
    padding-left: 0px;
    
}
button{
    cursor: pointer;
}

img{
    display: block;
    width: 100%;
    height: auto;
}
 
 body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color:var(--second-body-color);
 }

 .container{
    width: 1200px;
    padding: 0px 15px;
    margin: auto auto;  
    align-items: center;  
    align-content: center;
    
    
        
 }
 .section{
    padding-top: 94px;
    padding-bottom: 94px;
}
    
 
 .header{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;


 }
 .header-logo,
 .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    display: block;
 }
 
    
 .link{
    text-decoration: none;
 }
 .list {
     list-style: none;
 }
 .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    text-align: center;
    
 }

.filter-btn, 
.filter-btn-current {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
}


.footer-contacts{
        font-size: 14px;
        line-height: 1.7;
        
    }

 /*------HEADER-----*/

 header{
    border-bottom: 1px solid var(--header-line-color);
 }
 header .container{
    display: flex;
    align-items: center;
      
    
 }
 
 
.header-logo{
    margin-right: 93px;
}
.web{
    color: var(--accent-color);
 }


.header-link {

    color: var(--second-text-color);
    
}
.header-link:hover,
.header-link:focus{
    color: var(--accent-color);
}

.header-list li + li{
    margin-left: 50px;

}

.header-list{
    
    display: flex;
    align-items: flex-start;
    
    padding-top: 32px;
    padding-bottom: 32px;
    
    
    
}

.contact-list{
    margin-left: auto;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    
    
    
}
.contact-list li + li{
    margin-left: 50px;
}
.header-contact{
    color: var(--primary-body-color);
    
}

.header-contact:hover,
.header-contact:focus{
    color: var(--accent-active-color);
}





.current{
    color: var(--accent-color);
}

/*------HERO-----*/

.hero {
    background-color:var(--background-hero-color);
    padding: 200px 0;
    letter-spacing: 0.06em;
    text-align: center;     
}


.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--second-body-color);
    padding-bottom: 30px;
    width: 696px;
    margin: 0 auto;
    text-align: center;  
}


.hero-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    color: var(--second-body-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    padding: 10px 32px;
    border-radius: 4px;
   
}

.hero-btn:hover,
.hero-btn:focus{
    background: var(--accent-active-color);
    box-shadow: 0px 4px 4px var(--hero-btn-shadow-color);
}

/*------FEATURES-----*/

.features-list{
    display: flex;
    margin:auto;
    margin-top: 174px;
    
}
.features-list li + li{
    margin-left: 30px;
}
.features-sub-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--second-text-color);
}


.hidden-title{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-elem{
color: var(--primary-body-color);
margin-top: 10px;
}
/*------ABOUT----*/

.about-list{
    display: flex;
    margin-top:  50px;
}
.about-list li + li{
    margin-left: 30px;
}
img{
    display: block;
    width: 100%;
    height: auto;
}

/*------TEAM-----*/
.team{
    background: var(--background-second-color);
    
}


.team-list{
    display: flex;
    margin-top: 50px;
    align-items: center;
    
}
.team-items{
    display: flex;
    flex-direction: column;
    background: var(--second-body-color);  
    
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    justify-content: center;
    text-align: center;
    
}
.team-list li + li{
    margin-left: 30px;
}
.team-image{
    background-color: var(--second-body-color);
    box-shadow: 0px 4px 4px 0px var(--box-shadow-active-color);
    border-radius: 0px;
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 0px;
}
.team-name-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-body-color);
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}


.team-box{
    padding: 30px;
    width: 270px;
    background: var(--second-body-color);
    box-shadow: 0px 1px 3px var(--team-shadow-color1), 
    0px 1px 1px var(--team-shadow-color2), 
    0px 2px 1px var(--team-shadow-color3); 
    border-radius: 0px 0px 4px 4px; 
    
}

/*------PORTFOLIO-----*/

.filter-list{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
   
}
.filter-list li + li{
    margin-left: 8px;
    
}
.filter-btn{
background: var(--background-second-color);
cursor: pointer;
border: none;
padding: 6px 22px;
border-radius: 4px;


}
.filter-btn:hover,
.filter-btn:focus{
    background-color: var(--accent-color);
    color: var(--second-body-color);
    box-shadow: 0px 4px 4px 0px var(--box-shadow-active-color);

}
.filter-btn-current{
    background-color: var(--accent-color);
    border: none;
    color: var(--second-body-color);
    box-shadow: 0px 4px 4px 0px var(--box-shadow-active-color);
    padding: 6px 22px;
    border-radius: 4px;
}

.portfolio-list{
display: flex;
flex-wrap: wrap;
gap: 30px;
}


.portfolio-list-item{
    flex-basis: calc((100% - 20px)) / 3;
    display: flex;
    flex-direction: column;
    
    
}
.image-port{
    padding-bottom: 0px;
}




.border-box{
    background: var(--second-body-color);
    border: 1px solid var(--box-border-color);
    border-top:none;
    padding: 20px 24px;
    
    
}


.portfolio-elem{
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: var(--second-text-color);
margin-bottom: 4px;


}

.portfolio-text{
font-weight: 400;
font-size: 16px;
line-height: 1.88;
color: var(--primary-body-color);


}
/*------FOOTER-----*/
.footer{
    background: var(--background-hero-color);
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;   
}


.studio{
    color: var(--second-body-color); 
}
.adress-list{
    margin-top: 20px;
}
.adress-list li + li{
    margin-top: 9px;
}
.address-link{
color: var(--second-body-color);
}

.info-link{
color: var(--info-link-color);
}
.footer-contacts:hover,
.footer-contacts:focus{
    color: var(--accent-active-color);
}

