:root{
    --primary-body-color:#757575;
    --second-body-color: #FFFFFF;
    --accent-color: #2196F3;
    --second-text-color: #212121;
    --logo-color: #000000;
    --background-hero-color:#2F303A;
    --background-second-color: #F5F4FA;
    --accent-active-color:#188CE8;
    
 }

 p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
} 
ul {
    margin: 0px;
    padding-left: 0px;
    
}
button{
    cursor: pointer;
}
image{
    display: block;
}
 
 body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color:var(--second-body-color);
 }

 .container{
    width: 1200px;
    padding: 0px 15px;
    margin: auto auto;  
    align-items: center;  
    align-content: center;
        
 }
 .section{
    padding-top: 94px;
    padding-bottom: 94px;
}
    
 
 .header{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    


 }
 
    
 .link{
    text-decoration: none;
 }
 .list {
     list-style: none;
 }
 .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    display: flex;
    text-align: center;
    justify-content: center;
 }

.filter-btn, 
.filter-btn-current {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
}
.footer-logo {
    font-size: 26px;
    line-height: 1.19;
    
}

.footer-contacts{
        font-size: 14px;
        line-height: 1.7;
        
    }

 /*------HEADER-----*/

 header .container{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ECECEC;
    
    
 }
 
 
.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    margin-right: 93px;
    display: block;

}
.web{
    color: var(--accent-color);
 }


.header-link {

    color: var(--second-text-color);
    
}
.header-link:hover,
.header-link:focus{
    color: var(--accent-color);
}

.header-list li + li{
    margin-left: 50px;

}

.header-list{
    
    display: flex;
    align-items: flex-start;
    margin-left: 93px;
    
    
    
}

.contact-list{
    margin-left: auto;
    display: flex;
    
    
    
}
.contact-list li + li{
    margin-left: 50px;
}
.header-contact{
    color: var(--primary-body-color);
    
}

.header-contact:hover,
.header-contact:focus{
    color: var(--accent-active-color);
}





.current{
    color: var(--accent-color);
}

/*------HERO-----*/
.hero {
    background-color:var(--background-hero-color);
    padding: 200px 0;
    padding-top: 120px;
    padding-bottom: 200px;
    text-align: center;
    height: 520px;
    
}


    

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-body-color); 
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    
    
}


.hero-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: var(--second-body-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 200px;
    margin-left: auto;
    
}

.hero-btn:hover,
.hero-btn:focus{
    background: var(--accent-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*------FEATURES-----*/

.features-list{
    display: flex;
    margin-top: 174px;
    
}
.features-list li + li{
    padding-left: 30px;
}
.features-sub-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--second-text-color);
}


.hidden-title{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-elem{
color: var(--primary-body-color);
padding-top: 10px;
}
/*------ABOUT----*/

.about-list{
    display: flex;
    padding-top:  50px;
}
.about-list li + li{
    margin-left: 30px;
}


/*------TEAM-----*/
.team{
    background: var(--background-second-color);
    
}


.team-list{
    display: flex;
    padding-top: 50px;
    align-items: center;
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    padding-top: 30px;
    justify-content: center;
    text-align: center;
    
}
.team-list li + li{
    margin-left: 30px;
}
.team-image{
    background-color: var(--second-body-color);
}
.team-name-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-body-color);
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    

}

.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px;
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px;
}
.team-box{
    width: 270px;
    height: 110px;
    background: var(--second-body-color);
    border: 1px solid #EEEEEE;
    border-top-color:var(--second-body-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    
}

/*------PORTFOLIO-----*/

.filter-list{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
   
}
.filter-list li + li{
    padding-left: 8px;
    
}
.filter-btn{
background: var(--background-second-color);
cursor: pointer;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding: 6px 22px;
border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus{
    background-color: var(--accent-color);
    color: var(--second-body-color);
    box-shadow: rgba(0, 0, 0, 0.25);
}
.filter-btn-current{
    background-color: var(--accent-color);
    color: var(--second-body-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 6px 22px;
    border-radius: 4px;
}

.portfolio-list{
display: flex;
margin-top: 34px;
flex-wrap: wrap;
gap: 30px;
}


.portfolio-list-item{
    flex-basis: calc((100% - 20px))/3;
}
.image-port{
    padding-bottom: 0px;
}


.card-port{
    display: flex;
    flex-direction: column;
    
}

.border-box{
    height: 110px;
    background: var(--second-body-color);
    border: 1px solid #EEEEEE;
    border-top-color:var(--second-body-color);
}


.portfolio-elem{
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: var(--second-text-color);
padding-top: 20px;
padding-bottom: 4px;
margin-left: 24px;

}

.portfolio-text{
font-weight: 400;
font-size: 16px;
line-height: 1.88;
color: var(--primary-body-color);
margin-left: 24px;
padding-bottom: 20px;

}
/*------FOOTER-----*/
.footer{
    background: var(--background-hero-color);
    height: 252px;
    
}
.footer-container{
    padding-right: 215px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
color: var(--second-body-color)

}
.studio{
    color: var(--second-body-color); 
}
.adress-list{
    padding-top: 20px;
}
.adress-list li + li{
    padding-top: 9px;
}
.address-link{
color: var(--second-body-color);
}

.info-link{
color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus{
    color: var(--accent-active-color);
}

