@import './base/reset';
@import './base/command';
@import './base/hidden';

@import './utils/variables';
@import './utils/placeholder';
@import './utils/mixin';

@import './components/container';
@import './components/logo';
@import './components/btn';
@import './components/title';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/features';
@import'./layouts/about';
@import './layouts/team';
@import './layouts/clients';
@import './layouts/portfolio';
@import './layouts/footer';
@import './layouts/modal';









 
 
    
 
 

    

 






 /*------HEADER-----*/

 

/*------HERO-----*/


/*------MODAL-----*/



/*------FEATURES-----*/


/*------ABOUT----*/


/*------TEAM-----*/

/*-----CLIENTS----*/


/*------PORTFOLIO-----*/


    


/*------FOOTER-----*/
