:root{
    --primary-body-color:#757575;
    --second-body-color: #FFFFFF;
    --accent-color: #2196F3;
    --second-text-color: #212121;
    --logo-color: #000000;
    --background-hero-color:#2F303A;
    --background-second-color: #F5F4FA;
    --accent-active-color:#188CE8;
    --header-line-color: #ECECEC;
    --box-border-color: #EEEEEE;
    --box-shadow-active-color: rgba(0, 0, 0, 0.25);
    --info-link-color:rgba(255, 255, 255, 0.6);
    --hero-btn-shadow-color: rgba(0, 0, 0, 0.15);
    --team-shadow-color1: rgba(0, 0, 0, 0.12);
    --team-shadow-color2: rgba(0, 0, 0, 0.14);
    --team-shadow-color3: rgba(0, 0, 0, 0.2);
    --footer-link-color: #AFB1B8;
    --overlay-bground-color: rgba(33, 150, 243, 0.9);
    
 }