.picture-list{
    display: flex;
    & li + li{
        margin-left: 30px;
    }
}
.about-lists{
    margin-top:  50px;
}

.picture-list__thumb{
    position: relative;
}
.picture-list__text{
    position: absolute;
    bottom: 0;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-body-color);
    @extend %flex-align;
    
    justify-content: center;
    
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    background:rgba(47, 48, 58, 0.8);
    
}