.aboutice{
    background-color:#84A178;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    background-image: url(../img/cow_desktop.jpg);
    background-repeat: no-repeat;
    
}

// .aboutice__block{
    
// }

.aboutice__title{
    // display: flex;
    // width:210px;
    // align-items: center;
font-weight: 400;
font-size: 30px;
line-height: 38px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #FCFCFC;
}

.aboutice__subtitle{
    // align-items: center;
    font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #FCFCFC;
}

.aboutice-btn{
background: #F8D24E;
border-radius: 10px;
padding: 12px 35px;
}