.filter-list{
    @extend %flex-align;
    justify-content: center;
    margin-bottom: 50px;
    & li + li{
        margin-left: 8px;
        
    }
   
}

.filter-list__btn{
font-family: inherit;
font-weight: 500;
@include button;
cursor: pointer;
background: var(--background-second-color);
border: none;
padding: 6px 22px;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    background-color: var(--accent-color);
    color: var(--second-body-color);
    box-shadow: 0px 4px 4px 0px var(--box-shadow-active-color);

}


}

.filter-btn-current {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    background-color: var(--accent-color);
    border: none;
    color: var(--second-body-color);
    box-shadow: 0px 4px 4px 0px var(--box-shadow-active-color);
    padding: 6px 22px;
    border-radius: 4px;
}



.grid{
display: flex;
flex-wrap: wrap;
gap: 30px;
}


.grid__item{
    flex-basis: calc((100% - 30px)) / 3;
    
    
    
}
.grid__image{
    padding-bottom: 0px;
}
.grid__links{
    display: block;
    transition-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);

}
}



  

.border-box{
    background: var(--second-body-color);
    border: 1px solid var(--box-border-color);
    border-top:none;
    padding: 20px 24px;    
}


.border-box__elem{
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: var(--second-text-color);
margin-bottom: 4px;


}

.border-box__text{
font-weight: 400;
font-size: 16px;
line-height: 1.88;
color: var(--primary-body-color);


}
.grid__thumb{
    position: relative;
    overflow: hidden;
    
}
.grid__links:hover .overlay{
    transform: translatex(0);
    

  }

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-color:var(--overlay-bground-color);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     & > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--second-body-color);
    padding: 63px 24px;
    }
}


